<div>
    <div>
        Home Page
    </div>

    <div>
        <router-link :to="{ name: 'api-demo' }" tag="div" class="about-link">
            Go to API Demo Page
        </router-link>
    </div>

    <div class="modal-parent">
        <button @click.stop.prevent="openModal()">
            OPEN MODAL
        </button>
        <div class="modal-desc">
            Click here to open the modal. This modal is a singleton component in the whole app.
        </div>
    </div>

    <div class="loader-parent">
        <button @click.stop.prevent="showLoader()">SHOW LOADER</button>
        <div class="loader-desc">
            Click here to show the loader. This loader will close automatically in 2 seconds.
        </div>
    </div>
</div>